<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" base href="/style.css">
    <title>Petition Project</title>
</head>
<body>
    {{{body}}}
    <footer>&copy 2020 by Magali G.</footer>
</body>
</html>