<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="/dog-icon.png" sizes="16x16">
    <title>Street Dog Protection</title>
</head>
<body>
    <main>
    {{{body}}}
    </main>
    <footer class="bottom">&copy 2020 by Bark Bark co.</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/canvas.js"></script>
</body>
</html>