<header class="shadow">
    <img class="icon" src="/dog-icon.png" alt="dog icon">
    <nav>
        <li><a href="/home">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </nav>
</header>
<div class="grid-container content">
    <div class="item-1"> 
        <div>
            <h1 class="text-content">
                <span class="title">"Caramel" stray dog to stamp the new brazilian R$200 banknote</span>
            </h1>
            <p>
                <br>
                <span><a href="/petition">Sign this petition</a></span>
            </p>
        </div>
    </div>
    <dv class="item-2">
        <figure>
        <img src="/dog-home.jpg" alt="Dog sleeping on the street">
        {{!-- <figcaption>Credit to Martin Courreges</figcaption> --}}
        </figure>
    </dv>
</div>
<div>
    <div id="second" class="grid-container content">
    <dv class="item-1">
        <figure>
        <img src="/nota200.jpg" alt="brazilian fake money bills">
        <figcaption></figcaption>
        </figure>
    </dv>        
    <div class="item-2"> 
        <div>
            <h3>About this petition</h3>
            <p>
                As predicted for the Simpsons in the episode <a href="https://en.wikipedia.org/wiki/You_Don%27t_Have_to_Live_Like_a_Referee" target="_blank">"You Don't Have to Live 
                Like a Referee"</a> (sixteenth episode of the 25th season), the Central 
                Bank of Brazil released its new 200 real banknotes into circulation. 
                This petition is to ask the Central Bank of Brazil for the new R$200 
                note to have the illustrative image of a mixed dog. Unfortunately, 
                thousands of domestic animals suffer mistreatment every year. A recent 
                survey, by the PetBrasil institute, shows <strong>2.6 million dogs </strong>are living on 
                the streets or in vulnerable conditions. The inclusion of the caramel 
                mongrel on the ballot is an incentive not only for adoption but also for 
                species control severe punishment for those who abandon these animals. 
                It may represent a new phase for animal welfare, as the latest news is 
                related to their sufferings.
            </p>
        </div>
    </div>
</div>
<div>
    <div id="second" class=" grid-container content">     
    <div class="item-1"> 
        <div>
            <h3>More info</h3>
            <p>
                For each banknote value, are defined different dimensions, colors, 
                and Brazilian fauna animals to promote environmental protection. 
                The definition of the animal that would print the note came from a 
                public consultation, carried out in 2000 by the Central Bank, in which 
                the population chose which animals threatened with extinction would 
                compose the new bills of the real.
            </p>
        </div>
    </div>
    <dv class="item-2">
        <figure>
        <img src="/cedulas.jpg" alt="brazilians banknotes">
        <figcaption></figcaption>
        </figure>
    </dv>   
</div>

</div>