<header class="shadow">
    <img class="icon" src="/dog-icon.png" alt="dog icon">
    <nav>
        <li><a href="/home">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </nav>
</header>
<div class="grid-container content">
    <div class="item-1"> 
        <div>
            <h1 class="text-content">
                <span class="title">"Caramel" stray dog to stamp the new Brazilian R$200 banknote</span>
            </h1>
            <br>
            <p class="thin"><span class="white">Let us honor our beloved street dogs from Brazil and illustrate them on the new R$200 banknote</span>. 
            <br>
            </p>
            <p>
                <span><a href="/petition">Sign this petition</a></span>
            </p>
        </div>
    </div>
    <dv class="item-2">
        <figure>
        <img src="/dog-home.jpg" alt="Dog sleeping on the street">
        </figure>
    </dv>
</div>
<div>
    <div id="second" class="grid-container content">
    <dv class="item-1">
        <figure>
        <img src="/nota200.jpg" alt="brazilian fake money bills">
        <figcaption></figcaption>
        </figure>
    </dv>        
    <div class="item-2"> 
        <div>
            <h3><span class="title">About</span></h3>
            <p>
                Unfortunately, thousands of domestic animals suffer mistreatment 
                every year. Additionally, a recent survey by the PetBrasil institute 
                shows that <strong>2.6 million dogs </strong>are living on the streets or are in vulnerable 
                conditions. The inclusion of the caramel street dog on the banknote is an 
                incentive for adopting abandoned dogs and also implement strict punishments 
                against those who abuse animals. The overall goal is to raise awareness of 
                animal welfare and protection.
            </p>
        </div>
    </div>
</div>
<div>
    <div id="second" class=" grid-container content">     
    <div class="item-1"> 
        <div>
            <h3><span class="title">More info</span></h3>
            <p>
                Each Brazilian banknote shows Brazilian wildlife species to promote 
                environmental protection. 
                So far, such exotic animals as the Hawksbill turtle, the Green-winged 
                macaw, the Golden lion tamarin, and the Brazilian jaguar embellish the 
                banknotes.
                Now is your chance to support our beloved street dogs and give them a 
                special place in Brazilian history.
            </p>
            <h4><span class="title">Fun fact</span></h4>
            <p>
                In 2014, the Simpsons predicted the launch of the R$200 banknote in 
                their episode <a href="https://en.wikipedia.org/wiki/You_Don%27t_Have_to_Live_Like_a_Referee">"You Don't Have to Live Like a Referee" </a>(sixteenth episode 
                of the 25th season). 
            </p>
        </div>
    </div>
    <dv class="item-2">
        <figure>
        <img src="/cedulas.jpg" alt="brazilians banknotes">
        <figcaption></figcaption>
        </figure>
    </dv>   
</div>

</div>