{{!-- <header>
    <h1>Homepage</h1>
</header> --}}
<div id="home" class=" grid-container content">
    <div class="item-1"> 
        <div>
    <h1 class="text-content">
        <span class="title">"Caramel" stray dog to stamp the new R$200 banknote</span>
    </h1>
    <p class="text-descrip">
        <br>
        <br>
        Doggo ipsum long woofer shoober sub woofer borkdrive aqua doggo corgo, dat tungg 
        tho big ol pupper noodle horse doing me a frighten you are doing me a frighten, 
        borking doggo sub woofer such treat thicc. Much ruin diet doggorino yapper fat 
        boi heckin angery woofer borkdrive, stop it fren smol bork doggo, corgo bork 
        boofers pupperino. Such treat bork puggorino, fat boi.</p>
        <br>
        <br>
        <p><a href="https://en.wikipedia.org/wiki/Brazilian_real" target="_blank">More info about brazilian bank notes</a></p>
        <br>
        <p><a href="/register">Click here to register and sign up the petition</a></p>     
    </div>
    </div>
    <dv class="item-2">
        <img src="https://images.pexels.com/photos/1029844/pexels-photo-1029844.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
    </dv>
</div>