<header>
    <img class="icon" src="/dog-icon.png">
    <nav>
    <li><a href="/home">Home</a></li>
    <li><a href="/register">Register</a></li>
</header>
<div id="login" class="content">
    <h1><span class="title thin">Welcome Back!</span></h1>
    <p>
        <br>
        Use your email and password to login.
        <br>
        <br>
    </p>
    {{#if message}}
    <p class="errorMessage"><span class="highlight center">Uh oh, something went wrong. Please try again!</span></p>
    {{/if}}
    <form action="" method="POST">
        <label for="emailAddress">Email Address</label>
        <input type="email" id="emailAddress" name="emailAddress" required>
        <label for="user-password">Password</label>
        <input id="userPassword" type="password" name="userPassword" required>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button name="">Enter</button>
    </form>
</div>