<header>
    <img class="icon" src="https://cdn1.iconfinder.com/data/icons/fur-baby/256/Puppy-512.png">
    <nav>
        <li><a href="/home">Home</a></li>
        <li><a href="/edit">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </nav>
</header>
<div id="petition"  class="content">
    <h1><span class="title thin">Petition</span></h1>
    <p>
        Let us honor our beloved street dogs from Brazil and illustrate 
        them on the new R$200 banknote.
    </p>
    {{#if message}}
    <p class="errorMessage"><span class="highlight center">Uh oh, something went wrong. Please try again!</span></p>
    {{/if}}
    <form action="" method="POST">
        <input id="signature" type="hidden" name="signature">
        <label for="signature">Sign here</label>
        <canvas id="canvas"></canvas>
        <button name="">Submit</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>