<div id="petition">
    <h1>Petition route worked!!</h1>
    <form action="" method="POST">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">First Name</label>
        <input type="text" id="lastName" name="lastName">
        <input type="hidden" name="signature">
        <label for="signature">Signature</label>
        <canvas id="signature"></canvas>
        <button name="">Submit</button>
    </form>
</div>