<div id="petition">
    <h1>Petition route worked!!</h1>
    {{#if message}}
    <p>Uh oh, something went wrong. Please try again!</p>
    {{/if}}
    <form action="" method="POST">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName">
        {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
        <input id="signature" type="hidden" name="signature">
        <label for="signature">Sign here</label>
        <canvas width="350" height="150"></canvas>
        <button name="">Submit</button>
    </form>
</div>