<header>
    <h1><span class="title thin">Profile</span></h1>
</header>
<div id="profile"  class="content">
    <p>
        Selfies vegan nostrud man bun, four loko ex semiotics. Church-key gluten-free 
        cillum glossier edison bulb laboris man braid vaporware authentic. Cillum 
        occupy nulla artisan butcher, narwhal man bun echo park in cornhole chia edison 
        bulb PBR&B. 
    </p>
    {{#if message}}
    <p class="errorMessage"><span class="highlight center">Uh oh, something went wrong. Please try again!</span></p>
    {{/if}}
    <form action="" method="POST">
        <label for="age">Age</label>
        <input type="number" id="age" name="age" max="120" min="14">
        <label for="city">City</label>
        <input type="text" id="city" name="city">
        <label for="homepage">Homepage</label>
        <input type="text" id="homepage" name="homepage" placeholder="https://example.com">        
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button name="">Continue</button>
    </form>
</div>