<header>
    <img class="icon" src="https://cdn1.iconfinder.com/data/icons/fur-baby/256/Puppy-512.png">
        <nav>
        <li><a href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>
    </nav>
</header>
<div id="register"  class="content">
    <h1><span class="title thin">Create an Account</span></h1>
    <p>
        We are thrilled to have your support in our mission to protect street 
        dogs against abuse. Please create a free account to give us your voice.
    </p>
    {{#if message}}
    <p class="errorMessage"><span class="highlight center">Uh oh, something went wrong. Please try again!</span></p>
    {{/if}}
    <form action="" method="POST">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" required>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" required>
        <label for="emailAddress">Email Address</label>
        <input type="email" id="emailAddress" name="emailAddress" required>        
        <label for="userPassword">Password</label>
        <input id="userPassword" type="password" name="userPassword" required>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button name="">Sign up</button>
    </form>
    <p class="center">If you are already a supporter, please <a href="/login">log in</a>.</p>
</div>