<header>
    <img class="icon" src="https://cdn1.iconfinder.com/data/icons/fur-baby/256/Puppy-512.png">
    {{!-- <h1><span class="title thin"> Register</span></h1> --}}
        <nav>
        <li><a href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>
    </nav>
</header>
<div id="register"  class="content">
    <h1><span class="title thin">Create Account</span></h1>
    <p>
        We are very happy that you are interesting in support our petition.
        Before sign, you need to create a free account with us. Please fill 
        in all the fields below.
    </p>
    {{#if message}}
    <p class="errorMessage"><span class="highlight center">Uh oh, something went wrong. Please try again!</span></p>
    {{/if}}
    <form action="" method="POST">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName">
        <label for="emailAddress">Email Address</label>
        <input type="email" id="emailAddress" name="emailAddress">        
        <label for="userPassword">Password</label>
        <input id="userPassword" type="password" name="userPassword">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button name="">Sign up</button>
    </form>
    <p class="center">If you are already a member, please <a href="/login">log in</a>.</p>
</div>