<div id="petition">
    <h1>expects an array of objects with first and last name properties. loops through the array and prints each first and last name</h1>
    <div>
        {{#rows}}
        <p>{{first_name}} {{last_name}}</p>
        {{/rows}}
    </div>
</div>