<header>
    <img class="icon" src="https://cdn1.iconfinder.com/data/icons/fur-baby/256/Puppy-512.png">
    <nav>
        <li><a href="/home">Home</a></li>
        <li><a href="/edit">Profile</a></li>
        <li><a href="/petition">Petition</a></li>
        <li><a href="/signers">Signers</a></li>
        <li><a href="/logout">Logout</a></li>
    </nav>
</header>
<div id="thanks"  class="content">
    <h1><span class="title thin">Awesome</span></h1>
    <p>Thank you so much for your support. You are the best!</p>
    <p>Our community is growing. We have already <a href="{{signersUrl}}">{{totalSigners}} members.</a></p>
    <embed src="https://media.giphy.com/media/bimrgfDooPB9m/source.gif">
    <br>
    <p>This is your signature in favor of animal welfare.
    </p>
    <img class="signatureImg" src="{{signature}}" alt="signature">
    <form method="POST">
        <button name="deleteSign">Delete your signature</button>
        <button name="editProfile">Edit your profile</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>