<div id="thanks">
    <h1>Thank you for your signature!</h1>
    <img class="signatureImg" src="{{signature}}">
    <a href="{{signersUrl}}"><p>See all {{totalSigners}}</p></a>
    <form method="POST">
        <button name="editProfile">Edit your profile</button>
        <button name="deleteSign">Delete your signature</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>