@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap');
* {
    box-sizing: border-box;
}

body {
    /* background-size: 15px 15px;
    background-image:
        linear-gradient(to right, grey .5px, transparent .5px),
        linear-gradient(to bottom, grey .5px, transparent .5px); */
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

main {
    flex-grow: 1;
    /* display: grid; */
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

/* h1, p {
    background-color: #fff;
} */

footer {
    height: 20px;
    font-size: 0.5em;
}

.errorMesage {
    color: darkred;
}

form {
    display: flex;
    background: #f8f4e5;
    flex-direction: column;    
    margin: 0 auto;
    padding: 50px 100px;
    border: 2px solid black;
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px #000;
    width: 600px;
    margin-bottom: 30px;
}

canvas, .signatureImg {
    padding: 5px;
    border: 2px solid #000;
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px #000;
    background-color: #fff;
    width: 350px;
    height: 150px;
    cursor: crosshair;
    margin: 10px 0
}

button {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    padding: 0 20px;
    appearance: none;
    margin: 20px 0 0 30px;
    background: #ffa580;
    font-family: inherit;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: 3px 3px 1px #95a4ff, 
                3px 3px 1px 1px #000;
    font-size: 1em;
    line-height: 2em;
    letter-spacing: 2px;
    outline: none;    
}

button:hover {
    background-color: #000;
    color: white;
    border: 1px solid #000;
}

button:active {
    background-color: #000;
    box-shadow: inset 3px 3px 1px #95a4ff,
                inset -3px -3px 1px 1px #95a4ff;
}

input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 5px solid #000;
    background: #f9f5e7;
    margin-right: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    min-width: 250px;
    outline: none;
    color: #2A293E;
    font-family: inherit;
    font-size: 1em;
    line-height: 2em;
}

input:focus {
    border-bottom: 5px solid #ffa580;
}